*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
xcuserdata
iosApp/Pods
iosApp/Podfile.lock
iosApp/iosApp.xcworkspace/xcshareddata/
.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/shelf
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.kotlin
/local.properties

androidApp/dev
androidApp/prod
androidApp/staging
androidApp/release
androidApp/debug

.idea/


/build
/captures

/fastlane/report.xml

app/release/
app/debug/
*.apk
*.aab
/build/
/*/build/
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

